{% extends "base.html" %}

{% block content %}
{% include "partials/_header.html" %}
{% include "partials/_photo_gallery.html" %}
{% include "partials/_modal_map.html" %}
{% include "partials/_modal_settings.html" %}
{% include "partials/_modal_prompts.html" %}
{% include "partials/_modal_save_preset.html" %}
{% include "partials/_modal_prompt_preview.html" %}
{% include "partials/_log_panel.html" %}
{% include "partials/_toast_container.html" %}
{% endblock %}

{% block scripts %}
<script src="/static/js/tagiato.state.js"></script>
<script src="/static/js/tagiato.photos.js"></script>
<script src="/static/js/tagiato.photo-update.js"></script>
<script src="/static/js/tagiato.tasks.js"></script>
<script src="/static/js/tagiato.selection.js"></script>
<script src="/static/js/tagiato.map.js"></script>
<script src="/static/js/tagiato.batch.js"></script>
<script src="/static/js/tagiato.log.js"></script>
<script src="/static/js/tagiato.settings.js"></script>
<script src="/static/js/tagiato.prompts.js"></script>
<script src="/static/js/tagiato.prompt-preview.js"></script>
<script src="/static/js/tagiato.photo-events.js"></script>
<script src="/static/js/tagiato.init.js"></script>
{% endblock %}
